body{
    background-color: burlywood;
    width: 1440px;
    position: fixed
}
.main-box{
    width: 1050px;
    height: 550px;
    background-color: black;
    position: absolute;
    top: 200px;
    left: 420px;
}
.left-col{
    background-color: rgb(252, 38, 0);
    width: 350px;
    height: 550px;
    

}
.middle-col{
    background-color: aquamarine;
    width: 350px;
    height: 550px;
    position: relative;
    left: 350px;
    top: -550px;

}
.right-col{
    background-color: rgb(153, 1, 255);
    width: 350px;
    height: 550px;
    position: relative;
    left: 700px;
    top: -1100px;
}
