@font-face {
    font-family: headings;
    src: url(./assets/fonts/BigShouldersDisplay-SemiBold.ttf);
}
@font-face {
    font-family: texts;
    src: url(./assets/fonts/LexendDeca-Light.ttf);
}
body{
    background-color: rgba(212, 209, 196, 0.76);
    width: 1440px;
    /* min-height: 100vh; */
    position: fixed;
    
}
.main-box{
    border-radius: 16px;
    width: 1050px;
    height: 550px;
    background-color: black;
    position: absolute;
    top: 200px;
    left: 420px;
    filter: drop-shadow(0 0px 10px #777474);
    
}
.left-col{
    background-color: hsl(31, 77%, 52%);
    width: 350px;
    height: 550px;
    position: absolute;
    border-radius: 15px 0 0 15px;    
}
.left-col h1{
    font-family: headings;
    font-size: 50px;
    font-weight: bold;
    padding-left: 60px;
    padding-top: 90px;
    color: rgb(231, 231, 231);
}
.middle-col{
    background-color: hsl(184, 100%, 22%);
    width: 350px;
    height: 550px;
    position: absolute;
    left: 350px;
}
.middle-col h1{
    font-family: headings;
    font-size: 50px;
    font-weight: bold;
    padding-left: 60px;
    padding-top: 90px;
    color: rgb(231, 231, 231);;
}
.right-col{
    background-color: hsl(179, 100%, 13%);
    width: 350px;
    height: 550px;
    position: absolute;
    left: 700px;
    border-radius: 0 15px 15px 0;
}
.right-col h1{
    font-family: headings;
    font-size: 50px;
    font-weight: bold;
    padding-left: 60px;
    padding-top: 90px;
    color: rgb(231, 231, 231);

}
p{
    font-family: texts;
    font-size: 17px;
    padding-left: 60px;
    line-height: 30px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-weight: 500;
}
.sedans{
    width: 90px;
    height: auto;
    position: absolute;
    margin-top: 40px;
    margin-left: 50px;
}
.SUVS{
    width: 90px;
    height: auto;
    position: absolute;
    margin-top: 40px;
    margin-left: 50px;
}
.LUXURY{
    width: 90px;
    height: auto;
    position: absolute;
    margin-top: 40px;
    margin-left: 50px;
}
.btn-left{
    font-family: texts;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    background-color: hsl(31, 77%, 52%);
    padding: 15px 35px;
    border: white solid 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 35px;
    transition : 216ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 58px;
}
.btn-left:hover{
    transition : 1ms;
    padding: 15px 35px;
    /* transform : translateY(-0px); */
    background-color: #ffffff;
    color: hsl(31, 77%, 52%);
    border: 2px white solid;
}
.btn-mid{
    font-family: texts;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    background-color: hsl(184, 100%, 22%);
    padding: 15px 35px;
    border: white solid 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 35px;
    transition : 216ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 58px;
}
.btn-mid:hover{
    transition : 1ms;
    padding: 15px 35px;
    /* transform : translateY(-0px); */
    background-color: #ffffff;
    color: hsl(184, 100%, 22%);
    border: 2px white solid;
}
.btn-right{
    font-family: texts;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    background-color: hsl(179, 100%, 13%);
    padding: 15px 35px;
    border: white solid 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 35px;
    transition : 216ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 58px;
}
.btn-right:hover{
    transition : 1ms;
    padding: 15px 35px;
    /* transform : translateY(-0px); */
    background-color: #ffffff;
    color: hsl(179, 100%, 13%);
    border: 2px white solid;
}
/* footer attribue */
.attribution {
    font-size: 12px;
    padding: 30px;
    position: absolute;
    top: 870px;
    left: 752px;
    font-family: texts;
    color: rgb(3, 3, 3);
    
    
}
